*{
    margin: 0%;
    padding: 0%;
    font-family: "Lora", serif;
}
.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}