.body{
    padding: 0%;

}
#box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Color-box{
    text-align: center;
  height: 200px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}